* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #067001;
  /* background-image: linear-gradient(#067001, #b4e98d); */
  font-family: "Anaheim", sans-serif;
  color: #c3e7f3;
}

.header {
  background-image: url(img/8.jpg);
  height: 200px;
  background-size: cover;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 2400px;
  margin: 0 auto;
  @media (width<=600px) {
    font-size: 0.5rem;
  }
}
.header h1 {
  margin: 1dvh;
}
.nav-links a {
  color: #c3e7f3;
  text-decoration: none;
}
.nav-links li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
main {
  padding: 2rem;
}
main section {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.gallery {
  margin: 1.5rem;
  display: grid;
  /* gap: 1.5rem; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 2fr 1fr; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  @media (width<=600px) {
    font-size: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5%;
  display: block;
}
.footer {
  background-color: #2d2d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (width<=600px) {
    font-size: 0.5rem;
  }
}
.footer-content {
  width: 50%;
  text-align: center;
  margin: 0.5rem;
}
.gallery-item:nth-of-type(2) {
  border: 2px solid red;
}
